<h2 mat-dialog-title>{{ data?.Translations ? 'Tahrirlash' : "Yangi qo'shish" }}</h2>

<form class="flex flex-col gap-2 mt-4" [formGroup]="form" (ngSubmit)="submit()" mat-dialog-content>
  <div class="item">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Key</mat-label>
      <input matInput formControlName="key" />
    </mat-form-field>
  </div>
  <div class="item">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Name (Uz)</mat-label>
      <input matInput formControlName="name_uz" />
    </mat-form-field>
  </div>
  <div class="item">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Name (Kr)</mat-label>
      <input matInput formControlName="name_kr" />
    </mat-form-field>
  </div>
  <div class="item">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Name (Ru)</mat-label>
      <input matInput formControlName="name_ru" />
    </mat-form-field>
  </div>

  <div class="flex gap-2">
    <div class="item">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Turi</mat-label>
        <mat-select formControlName="translation_type">
          @for (type of translationTypes; track $index) {
            <mat-option [value]="type">{{ translationTypeText[type] }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Status</mat-label>
        <mat-select formControlName="is_use">
          @for (
            status of [
              { label: 'Ishlatilmagan', value: false },
              { label: 'Ishlatilmoqda', value: true },
            ];
            track $index
          ) {
            <mat-option [value]="status.value">{{ status.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <div class="flex justify-between">
      <div class="item">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Saqlash
        </button>
        <button mat-button type="button" (click)="dialogRef.close()">Bekor qilish</button>
      </div>
      <div class="item">
        @if (data?.Translations) {
          <button mat-button type="button" color="warn" (click)="delete()">O'chirish</button>
        }
      </div>
    </div>
  </div>
</form>
